<h1>Burgers!</h1>

<h2>I'm on the hunt for!</h2>

<ul>
  {{#each burgers}}
    {{#unless status}} <!-- need to check what this needs to be, was sleepy -->
      {{> burgers/burger-block status=true}} <!-- same here -->
    {{/unless}}
  {{/each}}
</ul>

<h2>I have devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if status}} <!-- check this, was sleepy -->
      {{> burgers/burger-block status=false}} <!--I think this is importing the partical-->
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger to the hunt.</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name"> <!-- was just name, check js -->
  </div>
  
{{!
  <div class="form-group">
    <label for="slee">Devoured?</label><br> <!-- not sure what slee is -->
    <input type="radio" name="status" value="1" checked> Devoured!<br>
    <input type="radio" name="status" value="0"> On the hunt.
  </div>
}}

  <button type="submit">Add Burger</button>
</form>