<h1>Burgers!</h1>

<h2>I'm on the hunt for!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}} <!-- need to check what this needs to be, was sleepy -->
      {{> burgers/burger-block status=false}} <!-- same here -->
    {{/unless}}
  {{/each}}
</ul>

<h2>I have devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}} <!-- check this, was sleepy -->
      {{> burgers/burger-block status=true}} <!--I think this is importing the partical-->
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger to the hunt.</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name"> <!-- was just name, check js -->
  </div>

  <button type="submit">Add Burger</button>
</form>