<li>
	{{burger_name}}

	{{#unless devoured}}
		<button class="change-status" data-id="{{id}}" data-newstatus="{{status}}">
			On the hunt!
		</button>
	{{/unless}}


	<button class="delete-burger" data-id="{{id}}">
		Delete
	</button>
</li>